
.approveMarket{
    position: relative;
    z-index: 1;
    @media #{$large1}{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    @media #{$lg}{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media #{$md}{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media #{$sm}{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @media #{$xs}{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &::before{
        position: absolute;
        content: "";
        width: 74%;
        height: 100%;
        background: linear-gradient(-80deg, #1E2430 10%, #222B38 80%);
        border-radius: 40px 0px 0 40px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        bottom: 0;
        z-index: -1;
        @media #{$inc25}{
            width: 68%;
        }
    }
    .box{
        position: relative;
        // img
        .gallery-img{
            height: 565px;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            filter: brightness(0.9);

            &::before{
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                content: "";
                border-radius: 0px;
                background-image: -moz-linear-gradient(-90deg, rgba(30, 36, 48,.9) 0%, rgba(30, 36, 48,.01) 0%, black 100%);
                background-image: -ms-linear-gradient(-90deg, rgba(30, 36, 48,.9) 0%, rgba(30, 36, 48,01) 0%, black 100%);
                background-image: -webkit-linear-gradient(-90deg, rgba(30, 36, 48,.9) 0%, rgba(30, 36, 48,.01) 0%, black 100%);
            }
        }

        .contents {
            position: absolute;
            left: 10%;
            bottom: 37px;
            span{
                color: var(--main-color-one);
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 5px;
                display: block;
            }
            h5{
                a {
                    color: #ffff;
                    display: inline-block;
                    font-size: 26px;
                    @include transition(.4s);
                    transform: scale(1);
                    @media #{$sm}{
                        font-size: 16px;
                    }
                    @media #{$xs}{
                        font-size: 22px;
                    }
                    i{
                    }
                    &:hover{
                        transform: scale(1.08);
                    }
                }
            }
        }
        // Caption
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color:rgba(255, 133, 83,.5);
            top: 0;
            left: 0;
            background: none;
            .overlay-content {
                position: absolute;
                top: 50%;
                transform: translateZ(-50%);
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
        &.snake{
            position: relative;
            overflow: hidden;
            border-radius: 8px;
        }
    }
}

.box{
    position: relative;
    img{
        width: 100%;
    }
    &.snake{
        position: relative;
        overflow: hidden;
    }
}


